.__main_x {
  .__main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .__search_category {
    .__search_left {
      width: 76%;
      .__elem_st {
        width: 36%;
      }
      .__elem_ {
        width: 32%;
      }
    }
    .__search_right {
      width: 20%;
    }
  }
  .__result_founds {
    .__result_right {
      width: 30%;
    }
  }
}
