.__message_list {
 .__message_container_ {
    width: 370px;
     border-top-left-radius: 20px;
     overflow-y: auto !important;
     .accordion-header {
          cursor: pointer;
          .icon {
            transition: transform 0.3s ease;

            &.open {
              transform: rotate(180deg);
            }
          }
        }
 }   
 .__accordion_main {
  overflow-y: auto !important;
 }
}