.__signin__modal {
    .__sign__modal_btn1 {
        font-size: 15px;
        color: black;
        background-color: hsl(0, 0%, 95%);
    }
    .__sign__modal_btn2 {
       color: #767676;
    }
}


 