.__reel_card {
  // width: 178px;
  max-width: 24%;
  @media (max-width: 490px) {
    max-width: 48%;
    // width: 48%;
  }
  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
  }
}
