.__price_plan {
    .__basic {
        border: 1px solid #EBEEF7;
        border-radius: 12px;
        min-width: 320px;
        overflow: hidden;
    }
    .__basic_top {
        border-bottom: 1px solid #EBEEF7;
    }
    .__plan_btn {
        background-color: #AEA7A7;
        border-radius: 4px;
    }
}