.__c_select {
  overflow-x: unset !important;
}
.ReactFlagsSelect-module_flagsSelect__2pfa2 {
  padding-bottom: unset !important;
}
.ReactFlagsSelect-module_selectBtn__19wW7 {
  border-top-right-radius: unset !important;
  border-bottom-right-radius: unset !important;
  border-right: unset !important;
}
.__country_select {
    padding-left: 6px;
  border-top-left-radius: unset !important;
  border-bottom-left-radius: unset !important;
  outline: none;
}
.__flag {
    width: 30%;
}
.__c_sel {
    width: 70%;
}
.__checkbox_label {
    color: #636A80;
    font-size: 13px;
}